<html>
    <body>
        <table border="1px">
            <tr>
                <td>Id</td>
                <td>name</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Livro bom</td>
            </tr>
        </table>
    </body>
</html>